#container{
    display: flex;
    flex-direction: column;
    background-color: lightslategray;
    width: 700px;
    height: 700px;
    justify-content: center;
}

#container > div {
    display: flex;
    flex-grow: 1;
}

#container > div > div {
    flex-grow: 1;
}